html {
    background-color: #747474;
    font-family: 'Francois One', sans-serif;

}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
    flex-direction: column;
}

h1 {
    position: fixed;
    top: 0;
    font-size: 32px;
    text-align: center;
    color: gainsboro;
}


.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    .button1 {
        display: block;
        margin: 0.4em auto;
    }
}

#controls {
    margin-top: 10px;
}